@page "/financial"

@using Microsoft.Identity.Web
@using Microsoft.Graph
@inject Microsoft.Graph.GraphServiceClient GraphServiceClient
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler

<PageTitle>Your Finances</PageTitle>

<h1>Here you can see your monthly bills, when they expired, when will it comes to be paid and so on.</h1>

@code {
    
}
