@inherits LayoutComponentBase

<PageTitle>Do Not Financially Fails.</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://github.com/pablovenino/" target="_blank">About Creator :)</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
